html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  padding: 0;
  font-family: sans-serif;
  color: rgb(49, 47, 47);
  font-size: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#root {
  background-image: linear-gradient(to top, #d4d7d6 0%, #bfc2c1 100%);
  background-repeat: no-repeat;
}

.container {
  max-width: 800px;
  padding: 2rem 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

.container > h1,
.container > h2 {
  margin-top: 0;
}
